<div class="container">
    <div class="hero">

        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="First slide"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
            </ol>
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active w-100">
                    <img src="/assets/images/pexels-afta-putta-gunawan-683039.jpg" class="w-100 d-block"
                        alt="First slide" />
                </div>
                <div class="carousel-item active w-100">
                    <img src="/assets/images/pexels-jose-ricardo-barraza-morachis-897253.jpg" class="w-100 d-block"
                        alt="First slide" />
                </div>
            </div>

        </div>

    </div>

</div>